{% extends "base.html" %}
{% block content %}
    <h2>User Profile</h2>
    <p>Username: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>PayPal Email: {{ user.userprofile.paypalemail }}</p>
    <form method="post">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ user.first_name }}"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{ user.last_name }}"><br>
        <!-- Add fields for updating the PayPal email here -->
        <button type="submit">Update Profile</button>
    </form>
{% endblock %}