{% extends 'account/base.html' %}

{% block content %}
    <div class="text-center">
        <h2>Profile</h2>
        <p>Hello {{ user.first_name }}!</p>
        <p>Your Username: {{ user }}</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.paypalemail.label_tag }}
                {{ form.paypalemail }}
            </div>
            <div class="form-group">
                {{ form.bio.label_tag }}
                {{ form.bio }}
            </div>
            <div class="form-group">
                {{ form.profile_picture.label_tag }}
                {{ form.profile_picture }}
            </div>
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
        <!-- <a class="btn btn-dark" href="{% url 'socialaccount_connections' %}">Settings</a> -->
    </div>
{% endblock %}
